<html>

<head>
    <title>Test Vue</title>
</head>

<body>
    <div id="test">
        <h1>{{msg.toUpperCase()}}</h1>
        <click-counter></click-counter>
        <click-counter></click-counter>
        <click-counter></click-counter>

        <button v-if="state == 'default'" @click="onAddClick()">Add Items</button>
        <button v-else @click="state = 'default'">Cancel</button>
        <div v-if="state == 'add'">
            <input type="text" v-model="newItem" placeholder="Enter Item Name" v-on:keyup.enter="addItem()" />
            <button v-bind:disabled="newItem == ''" @click="addItem()">Add</button>
        </div>
        <ul>
            <li v-for="item of reverseItems">
                {{item['label']}} - {{item['purchased']}}
            </li>
        </ul>
        <span v-if="items.length == 0">No Items Added to List</span>

        <plan-picker-component  ></plan-picker-component>
    </div>


    <script type="text/x-template" id="click-counter-template">
        <div>
            <p>Toatl Count: {{count}}</p>
        <button @click="count++"> {{count}} </button>
        </div>
    </script>

    <script type="text/x-template" id="plan-picker-template">
        <div>
            <plan-component v-for="plan of plans" :name="plan" @select="selectPlan" :selected-plan="selectedPlan"></plan-component>
        </div>
    </script>

    <script type="text/x-template" id="plan-template">
        <div @click="select()">
           {{name}} - {{isSelected}}
        </div>
    </script>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <script src="plan.js"></script>

    <script>
        var shoppingList = new Vue({
            el: '#test',
            data: {
                msg: 'Shopping List App',
                state: 'default',
                items: [{
                        label: 'Horlicks',
                        purchased: false
                    },
                    {
                        label: 'Boost',
                        purchased: true
                    },
                    {
                        label: 'Complan',
                        purchased: true
                    },
                ],
                newItem: '',
            },
            methods: {
                addItem() {
                    if (this.newItem != '') {
                        this.items.push({
                            label: this.newItem,
                            purchased: false
                        });
                        this.newItem = '';
                    }

                },
                onAddClick() {
                    this.state = 'add';
                }
            },
            computed: {
                reverseItems() {
                    return this.items.slice(0).reverse();
                }
            }
        });
    </script>
</body>

</html>
